#Do not track build items
build/
.gradle/
.idea/
.idea/workspace.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/executionHistory/executionHistory.bin
